<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BuildingMapper">
    <select id="selectBuilding" parameterType="String" resultType="com.dao.Building">
        select * from building
    </select>
    <insert id="insertBuilding">
         insert into building(bid,bname,price,supplier,bnumber) value (#{bid},#{bname},#{price},#{supplier},#{bnumber})
    </insert>
</mapper>